extends layout 

block content 
    h1= category.name
    p= category.description

    .items-container 
        h4 Items in #{title}

        each item in categoryItems 
            a(href=item.url)
                .category-item                
                    h5= item.name 
                    p= item.formattedPrice
                    p= item.stock
    
    hr
    a(href=`${category.url}/delete`) Delete Category

    if deleteCategory 
        .delete-container-popup
            .delete-popup 
                p Deleting this category will delete all of its items. Do you want to continue?

                form(method='POST' action='')
                    .form-group 
                        input#categoryid.form-control(type="hidden", name='categoryid' required='true' value=category._id)
                    button.btn-submit(type='submit') Delete Category
                a(href=category.url)  
                    button Cancel




