extends layout 

block content 
    h1= title 
    p= description 

    .items-container 
        h4 Items in #{title}

        each item in categoryItems 
            a(href=item.url)
                .category-item                
                    h5= item.name 
                    p= item.formattedPrice
                    p= item.stock




