extends layout 

block content 
    h1.category-name= category.name
    p.category-desc= category.description

    
    .items
        each item in categoryItems 
            a(href=item.url)
                .item             
                    h3= item.name 
                    p QTY: #{item.stock} 
                    p= item.formattedPrice
    
    .actions
        div
            a(href=`${category.url}/delete`) Delete Category
        div
            a(href=`${category.url}/update`) Update Category

    if deleteCategory 
        .delete-container-popup
            .delete-popup 
                p Deleting this category will delete all of its items. Do you want to continue?

                form(method='POST' action='')
                    .form-group 
                        input#categoryid.form-control(type="hidden", name='categoryid' required='true' value=category._id)
                .delete-button-group
                    button.btn-submit(type='submit') Delete Category
                    button#cancel-delete(onclick=`cancelDelete('${category.url}')`) Cancel




