extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li #[strong Categories:] !{category_count}
    li #[strong Items:] !{item_count}
 
  ul 
    each category in categories 
      li 
        a(href=category.url) Goto #{category.name}
