extends layout

block content
 
  .index-container
    h1= title

    
    .glass-container
      h2 Quick stats
      ul
        li #[strong Categories:] !{category_count}
        li #[strong Items:] !{item_count}
    .glass-container
      h2 Available Categories
      ul 
        each category in categories 
          li 
            a(href=category.url) Goto #{category.name}
