extends layout 

block content 
    h1= title 

    .detail-group 
        h2= item.name 
        p Category: #{item.category.name}
        p= item.description 
        p= item.formattedPrice 
        p= item.stock

    if item.imgpath 
        img(src=item.imgpath, alt="product")

    hr
    div
        a(href=`${item.url}/delete`) Delete Item 
    div
        a(href=`${item.url}/update`) Update Item

    if deleteItem 
        .delete-container-popup
            .delete-popup 
                p Are you sure you want to delete this item?

                form(method='POST' action='')
                    .form-group 
                        input#itemid.form-control(type="hidden", name='itemid' required='true' value=item._id)
                        input#itemid.form-control(type="hidden", name='imgpath' required='true' value=item.imgpath)
                    button.btn-submit(type='submit') Delete Item
                a(href=item.url)  
                    button Cancel
