extends layout 

block content 
    h1= title

    .items 
        each item in allItems 
            a(href=item.url)
                .item 
                    h3= item.name                  
                    p QTY: #{item.stock} 
                    p= item.formattedPrice
